.comments {
  font: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  padding-left: 0.5rem;

  li {
    list-style: none;
    padding: 0.5rem 0;
    border-bottom: 2px solid #ccc;

    p {
      margin: 0;
    }

    div {
      text-align: right;
      font-style: italic;

      address {
        display: inline;
      }
    }
  }
}
